@media screen and (max-width: 1700px) {
    .about-containers {
        flex-wrap: wrap;
    }
    .text-container {
        font-size: 1.2rem;
    }
    .exp-btn {
        font-size: 0.8rem;
        padding: 0.8rem;
        width: 12rem;
        border-radius: 1.5rem;
    }
}
@media screen and (max-width: 1500px) {
    .exp-btn {
        font-size: 0.8rem;
        padding: 0.8rem;
        width: 10rem;
        border-radius: 1.5rem;
    }
    .details-container {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 1400px) {
    .nav-links {
        gap: 2rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    .text-container {
        font-size: 1.3rem;
    }
    .profile-pic-container {
        display: flex;
        height: 360px;
        width: 360px;
        margin: auto 0;
    }
    .section__text {
        padding: 2rem;
    }
    .section__text__p1 {
        font-size: 1.8rem;
    }
    .section__text__p2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .title {
        font-size: 3rem;
    }
    .btn-container {
        gap: 2rem;
    }
    .btn {
        font-size: 1rem;
        padding: 1rem;
        width: 10rem;
    }
    .details-container {
        padding: 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1320px) {
    .tech-skills {
        padding: 0.2rem;
    }
    
    .related-courses {
        padding: 0.2rem;
    }
    .exp-btn {
        width: 9rem;
    }
    .project-btn {
        width: 9rem;
    }
    .text-container {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile {
        height: fit-content;
        margin-bottom: -8rem;
        display: block;
    }
    .section-container {
        display: block;
        height: 34rem;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .profile-pic-container {
        width: 275px;
        height: 275px;
        margin: 2rem auto 2rem;
    }
    .about-containers {
        margin-top: 3rem;
    }
    .text-container {
        font-size: 1.1rem;
    }
    .project-container {
        margin-top: 3.5rem;
    }
    #contact {
        height: fit-content;
    }
    .contact-info-upper-container {
        margin: 3.5rem auto;
    }
    footer {
        height: fit-content;
        margin-top: 0;
        margin-bottom: 0rem;
        padding-bottom: 2rem;
    }
    footer p {
        font-size: 0.8rem;
        padding-bottom: 0rem;
    }
    nav {
        height: 5rem;
    }
    #about {
        margin-top: 10rem;
    }
    .contact-margin {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .profile-pic-container {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 927px) {
    .exp-btn {
        width: 30vw;
        font-size: 1rem;
    }
    #hamburger-nav {
        height: 3rem;
    }
    .profile-pic-container {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .contact-icon {
        height: 2rem;
    }
    .email-icon {
        height: 2.5rem;
    }
    .contact-info-container {
        font-size: 0.8rem;
    }
    .nav-links {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: fit-content;
        margin-bottom: 0rem;
        margin-top: 2rem;
    }
    #profile {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .profile-pic-container {
        height: 240px;
        width: 240px;
    }
    .profile-btn {
        font-size: 0.8rem;
        width: 8rem;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 1rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-upper-container {
        margin-bottom: 1.5rem;
    }
    .contact-info-container {
        margin: 5px;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .logo {
        font-size: 1.8rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p1 {
        font-size: 1.1rem;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        font-size: 0.9rem;
    }
    #about {
        margin-top: 0rem;
    }
    .icon {
        height: 1.8rem;
    }
    .email-icon {
        height: 2.25rem;
    }
    .about-categories {
        font-size: 1rem;
    }
    .details-container {
        font-size: 0.8rem;
    }
    .text-container {
        padding: 2rem;
    }
    section {
        padding-top: 1rem;
    }
    .exp-btn {
        font-size: 0.8rem;
        width: 70vw;
        border-radius: 0.7rem;
        padding: 0.6;
        margin-bottom: 0.6rem;
    }
    .exp-btn-container {
        gap: 0;
        margin-bottom: 0rem;
    }
    .project-image {
        height: 15rem;
        width: 15rem;
    }
    #projects {
        margin-top: 2rem;
    }
    .menu-links {
        padding: 0.4rem;
    }
    .menu-links a {
        font-size: 1rem;
        padding: 0.5rem;
    }
    .hamburger-icon {
        height: 20px;
        width: 25px;
    }
    .hamburger-icon span {
        height: 2px;
    }
    .hamburger-icon.open span:first-child {
        transform: rotate(45deg) translate(8px, 5px);
    }    
    .hamburger-icon.open span:last-child {
        transform: rotate(-45deg) translate(8px, -5px);
    }
    footer p {
        font-size: 0.6rem;
        padding-bottom: 0rem;
    }
}

@media screen and (max-width: 486px) {
     .exp-btn {
        width: 60vw;
        height: 3.5rem;
        padding: 0.6;
        margin-bottom: 0.7rem;
        border-radius: 0.6rem;
    }
    .exp-btn-container {
        gap: 0;
        margin-bottom: 1.35rem;
    } 
    
}


@media screen and (max-width: 457px) {
    .profile-btn {
        width: 9rem;
    }
    #socials-container {
        margin-top: 1.3rem;
    }
    .project-btn {
        width: 31vw;
    }
    .exp-btn {
        width: 60vw;
        height: 3.5rem;
        padding: 0.6;
        margin-bottom: 0.7rem;
        border-radius: 0.6rem;
        font-size: 0.65rem;
    } 
    .profile-btn-container {
        gap: 1rem;
    }
    .project-btn-container {
        gap: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        font-size: 1.3rem;
    }
    #hamburger-nav {
        height: 2rem;
        margin-right: 0;
    }
    .contact-info-container p {
        font-size: 0.7rem;
    }
    .profile-pic-container {
        height: 10rem;
        width: 10rem;
    }
    .hamburger-icon {
        height: 16px;
        width: 21px;
    }
    .hamburger-icon span {
        height: 2px;
    }
    .hamburger-icon.open span:first-child {
        transform: rotate(45deg) translate(5px, 5px);
    }    
    .hamburger-icon.open span:last-child {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

@media screen and (max-width: 370px) {
    .logo {
        font-size: 1rem;
    }
    .project-image {
        width: 7.3rem;
        height: 7.3rem;
    }
    .project-btn {
        width: 7rem;
    }
    .icon {
        height: 1.3rem;
    }
    .email-icon {
        height: 1.6rem;
    }
    .contact-info-container p {
        font-size: 0.59rem;
    }
    .exp-btn {
        font-size: 0.57rem;
        width: 8rem;
    }
    .text-container {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 300px) {
    .title {
        font-size: 1.5rem;
    }
}

/* @media screen and (max-height: 800px) and (min-width: 1201px) {
    .text-container {
        padding: 1.9rem;
        font-size: 1.2rem;
    }
    .project-image {
        height: 16rem;
        width: 16rem;
    }
    .title {
        font-size: 3.6rem;
    }
}

@media screen and (max-height: 750px) and (min-width: 1201px) {
    .profile-pic-container {
        height: 280px;
        width: 280px;
    }
    .logo {
        font-size: 2rem;
    }
    .nav-links {
        font-size: 1.4rem;
    }
    .section__text__p1 {
        font-size: 1.2rem;
    }
    .section__text__p2 {
        font-size: 1.4rem;
    }
    .title {
        font-size: 2.3rem;
    }
    .profile-btn {
        font-size: 0.8rem;
        height: 3.5rem;
    }
    .icon {
        height: 2rem;
    }
    .email-icon {
        height: 2.5rem;
    }
    #socials-container {
        margin-top: 1.3rem;
    }
    .details-container {
        font-size: 0.8rem;
    }
    .about-categories {
        font-size: 1.3rem;
    }
    .text-container {
        padding: 1.8rem;
        font-size: 1rem;
    }
    .about-containers {
        margin-top: 2rem;
    }
    .exp-btn {
        font-size: 0.8em;
        height: 4.5rem;
        border-radius: 0.7rem;
    }
    .exp-btn-container {
        height: 5.4rem;
    }
    .experience-sub-title {
        margin-bottom: 1rem;
    }
    .project-image {
        height: 15rem;
        width: 15rem;
    }
    .project-btn {
        font-size: 0.8rem;
    }
    #projects {
        margin-bottom: 2rem;
    }
    .contact-margin{
        height: 2rem;
    }
    .contact-info-container p {
        font-size: 0.9rem;
    }
    .contact-info-container {
        margin: 0.5rem;
    }
}

@media screen and (max-height: 620px) and (min-width: 1201px) {
    .profile-pic-container {
        height: 220px;
        width: 220px;
    }
    .logo {
        font-size: 1.7rem;
    }
    .nav-links {
        font-size: 1.1rem;
    }
    .section__text__p1 {
        font-size: 1rem;
    }
    .section__text__p2 {
        font-size: 1.2rem;
    }
    .title {
        font-size: 2rem;
    }
    .profile-btn {
        font-size: 0.65rem;
        height: 3rem;
    }
    .icon {
        height: 2rem;
    }
    .email-icon {
        height: 2.5rem;
    }
    #socials-container {
        margin-top: 1.3rem;
    }
    .details-container {
        font-size: 0.7rem;
    }
    .about-categories {
        font-size: 1.1rem;
    }
    .text-container {
        padding: 1.5rem;
        font-size: 0.8rem;
    }
    .about-containers {
        margin-top: 1.7rem;
    }
    .exp-btn {
        height: 3.8rem;
        border-radius: 0.7rem;
    }
    .exp-btn-container {
        height: 4.5rem;
    }
    .experience-sub-title {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
    .project-image {
        height: 10rem;
        width: 10rem;
    }
    .project-btn {
        height: 3.4rem;
    }
    #projects {
        margin-bottom: 1rem;
    }
    .contact-margin{
        height: 1rem;
    }
    .contact-info-container p {
        font-size: 0.9rem;
    }
    .contact-info-container {
        margin: 0.5rem;
    }
} */

@media screen and (max-height: 500px) and (min-width: 1201px) {
    nav {
        height: 5rem;
    }
    section {
        height: 51rem;
    }
    #profile {
        height: 41rem;
    }
    #about {
        margin-top: 0rem;
    }
    #contact {
        height: 24rem;
    }
    footer {
        height: 4rem;
        margin-top: 8rem;
        margin-bottom: 2rem;
    }
    .text-container {
        font-size: 2rem;
    }
}


@media screen and (max-height: 50vw) and (min-width: 1201px) and (min-height: 501px) {
    body{
        padding-left: 5vh;
        padding-right: 5vh;
    }
    
    .glass {
        border-radius: 2.5vh;
        backdrop-filter: blur(1.5vh);
        -webkit-backdrop-filter: blur(1.5vh);
        border:0.2vh solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.7vh 3vh 0 rgba(0, 0, 0, 0.37);
    }

    .nav-links {
        gap: 5vh;
        font-size: 3vh;
    }
    
    a {
        color: white;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);
        }
    
    .logo {
        font-size: 5vh;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);
        }

    
    
    section {
        padding-top: 1vh;
    }

    
    
    #profile {
        gap: 15vh;
    }
    
    .profile-pic-container {
        height: 45vh;
        width: 45vh;
    }
    
    .round-pic {
        border: 0.2vh solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.7vh 3vh 0 rgba(0, 0, 0, 0.37);    
    }
    
    .section__text {
        padding: 5vh;
    }

    .section__text__p1 {
        font-size: 5vh;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);
        }
    
    .section__text__p2 {
        font-size: 6vh;
        margin-bottom: 2vh;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);
        }
    
    .title {
        font-size: 8vh;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);
        }
    
    #socials-container {
        margin-top: 3vh;
        gap: 3vh;
    }
    
    
    
    .icon {
        height: 7vh;
    }
    
    
    
    .btn-container {
        gap: 5vh;
    }
    
    .btn {
        font-size: 3vh;
        padding: 2vh;
        width: 25vh;
        border-radius: 2vh;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);
        }
    
    .btn-color {
        border: 0.2vh solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.7vh 3vh 0 rgba(0, 0, 0, 0.37);
        }
    
    .btn-color:hover {
        border: rgb(180, 180, 180) 0.1rem solid;
    }
    


    .about-containers {
        gap: 4vh;
        margin-bottom: 4vh;
        margin-top: 9vh;
    }
    
    .about-categories {
        font-size: 4vh;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);
        }
    
    .arrow {
        right: -8.5vh;
        bottom: 4vh;
    }
    
    .details-container {
        padding: 3vh;
        font-size: 2.2vh;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);
        }
    
    .text-container {
        padding: 5vh;
        font-size: 2.4vh;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);
        }
    
    
    
    .experience-sub-title {
        font-size: 4vh;
        margin-bottom: 3vh;
        margin-top: 2vh;
    }
    
    .exp-btn-container {
        padding: 1vh;
        height: 13vh;
    }
    
    .exp-btn {
        font-size: 2vh;
        padding: 2vh;
        width: 30vh;
        border-radius: 2vh;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);
        }
    
    .tech-skills {
        padding: 0.5vh;
    }
    
    .related-courses {
        padding: 0.5vh;
    }
    
    .project-image {
        height: 32vh;
        width: 32vh;
        border: 0.2vh solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.7vh 3vh 0 rgba(0, 0, 0, 0.37);    
    }
    
    .project-title {
        margin: 2vh;
    }
    
    .project-btn {
        width: 20vh;
    }
    
    

    .contact-margin {
        height: 2vh;
    }
    
    .contact-info-upper-container {
        border-radius: 2vh;
        padding: 1.5vh;
    }
    .contact-info-container {
        gap: 1vh;
        margin: 2vh;
    }

    .contact-info-container p {
        font-size: 4vh;
        padding: 1vh;
    }

    .email-icon {
        height: 8.7vh;
    }
    
   
    
    footer {
        margin: 0 0.5vh;
    }
    
    footer p {
        font-size: 1.5vh;
        text-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.5);   
    }
} 
/* //////////////////////////////////////////////////////////////////////////// */
@media screen and (min-height: 50vw) and (min-width: 1201px) and (max-height: 100vw) {
    body{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    
    .glass {
        border-radius: 1.5vw;
        backdrop-filter: blur(1vw);
        -webkit-backdrop-filter: blur(1vw);
        border:0.1vw solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.5vw 2vw 0 rgba(0, 0, 0, 0.37);
    }

    .nav-links {
        gap: 5vh;
        font-size: 3vh;
    }
    
    a {
        color: white;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);        
    }
    
    .logo {
        font-size: 5vh;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);        
    }

    
    
    section {
        padding-top: 1vh;
    }

    
    
    #profile {
        gap: 8vw;
    }
    
    .profile-pic-container {
        height: 22vw;
        width: 22vw;
    }
    
    .round-pic {
        border: 0.1vw solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.5vw 2vw 0 rgba(0, 0, 0, 0.37);
        }
    
    .section__text {
        padding: 2vw;
    }

    .section__text__p1 {
        font-size: 2.6vw;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);        
    }
    
    .section__text__p2 {
        font-size: 2.8vw;
        margin-bottom: 2vw;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);        
    }
    
    .title {
        font-size: 4.3vw;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);        
    }
    
    #socials-container {
        margin-top: 3vh;
        gap: 3vw;
    }
    
    
    
    .icon {
        height: 4vw;
    }
    
    
    
    .btn-container {
        gap: 4vw;
    }
    
    .btn {
        font-size: 1.5vw;
        padding: 1vw;
        width: 13vw;
        border-radius: 1vw;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);        
    }
    
    .btn-color {
        border: 0.1vw solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.5vw 2vw 0 rgba(0, 0, 0, 0.37);
    }
    
    .btn-color:hover {
        border: rgb(180, 180, 180) 0.1rem solid;
    }
    


    .about-containers {
        gap: 1.5vw;
        margin-bottom: 1.5vw;
        margin-top: 9vh;
    }
    
    .about-categories {
        font-size: 2vw;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);        
    }
    
    .arrow {
        right: -6.5vw;
        bottom: 4vh;
    }
    
    .details-container {
        padding: 1.5vw;
        font-size: 1.3vw;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);        
    }
    
    .text-container {
        padding: 2vw;
        font-size: 1.2vw;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);        
    }
    
    
    
    .experience-sub-title {
        font-size: 2.5vw;
        margin-bottom: 2vw;
        margin-top: 1vw;
    }
    
    .exp-btn-container {
        padding: 0.6vw;
        height: 6vw;
    }
    
    .exp-btn {
        font-size: 0.8vw;
        padding: 1vw;
        width: 11vw;
        border-radius: 1vw;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
    }
    
    .tech-skills {
        padding: 0.5vw;
    }
    
    .related-courses {
        padding: 0.5vw;
    }
    
    .project-image {
        height: 12vw;
        width: 12vw;
        border: 0.1vw solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.5vw 2vw 0 rgba(0, 0, 0, 0.37);    
    }
    
    .project-title {
        margin: 2vh;
    }
    
    .project-btn {
        width: 12vw;
    }
    .contact-margin {
        height: 2vw;
    }
    
    .contact-info-upper-container {
        border-radius: 1vw;
        padding: 1.5vw;
    }
    .contact-info-container {
        gap: 0.5vw;
        margin: 1vw;
    }

    .contact-info-container p {
        font-size: 2vw;
        padding: 0.5vw;
    }

    .email-icon {
        height: 5vw;
    }
    
   
    
    footer {
        margin: 0 0.5vh;
    }
    
    footer p {
        font-size: 1.5vh;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);   
    }
}
/* //////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-height: 60vw) and (min-width: 1201px) and (max-height: 100vw) {
    .text-container {
        padding: 2.4vw;
        font-size: 1.65vw;
    }
    .exp-btn-container {
        height: 8vw;
    }
    .exp-btn {
        font-size: 1vw;
    }
    .project-image {
        height: 20vw;
        width: 20vw;
    }
}

@media screen and (min-height: 70vw) and (min-width: 1201px) and (max-height: 100vw) {
    .text-container {
        font-size: 1.9vw;
        padding: 2.6vw
    }
    .exp-btn-container {
        height: 10vw;
    }
    .exp-btn {
        font-size: 1.2vw;
    }
    .project-image {
        height: 27vw;
        width: 27vw;
    }
    .logo {
        font-size: 3.3vw;
    }
    .nav-links {
        font-size: 2.3vw;
    }
}

@media screen and (min-height: 80vw) and (min-width: 1201px) and (max-height: 100vw) {
    .logo {
        font-size: 3vw;
    }
    .nav-links {
        font-size: 2vw;
    }
    .profile-pic-container {
        height: 30vw;
        width: 30vw;
    }
    .text-container {
        font-size: 2.1vw;
        padding: 2.9vw
    }
    .exp-btn-container {
        height: 14vw;
        gap: 2vw;
    }
    .exp-btn {
        font-size: 1.5vw;
        width: 14vw;
    }
    .project-image {
        height: 30vw;
        width: 30vw;
    }
    .project-btn {
        height: 7vw;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }
    .project-title {
        margin-top: 2vw;
    }
}

@media screen and (min-height: 90vw) and (min-width: 1201px) and (max-height: 100vw) {
    .about-categories{
        font-size: 3vw;
    }
    .details-container {
        font-size: 2vw;
    }
    .exp-btn-container {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    .project-btn {
        height: 8vw;
        margin-bottom: 3vw;
        margin-top: 3vw;
    }
    .project-title {
        margin-top: 3vw;
        font-size: 4vw
    }
}
 
@media screen and (min-height: 100vw) and (min-width: 1201px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 4vw;
    }
    #profile {
        height: fit-content;
        margin-bottom: -10vw;
        display: block;
    }
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    #experience {
        display: block;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .profile-pic-container {
        width: 40vw;
        height: 40vw;
        margin: 4vw auto 4vw;
    }
    .hamburger-icon {
        height: 3vw;
        width: 4vw;
    }
    .hamburger-icon span {
        height: 0.3vw;
    }
    .hamburger-icon.open span:first-child {
        transform: rotate(45deg) translate(1vw, 1vw);
    }    
    .hamburger-icon.open span:last-child {
        transform: rotate(-45deg) translate(1vw, -1vw);
    }
    .menu-links.open {
        max-height: 30vw;
    }
    .menu-links a {
        padding: 1vw;
        font-size: 3vw;
    }
    #contact {
        height: fit-content;
    }
    .contact-info-upper-container {
        margin: 5vw auto;
    }
    footer {
        height: fit-content;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 1vw;
    }
    nav {
        height: 5vw;
    }
    #about {
        margin-top: 15vw;
    }
    .contact-margin {
        display: none;
    }

    body{
        padding: 5vw;
    }

    .nav-links {
        gap: 5vw;
        font-size: 3vw;
    }
    
    a {
        color: white;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }
    
    .logo {
        font-size: 4vw;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }

    
    
    section {
        padding-top: 1vw;
    }

    
    
    #profile {
        gap: 150vw;
    }
    
    .profile-pic-container {
        height: 35vw;
        width: 35vw;
    }
    
    .round-pic {
        border: 0.2vw solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.7vw 3vw 0 rgba(0, 0, 0, 0.37);
    }
    
    .section__text {
        padding: 5vw;
    }

    .section__text__p1 {
        font-size: 5vw;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }
    
    .section__text__p2 {
        font-size: 6vw;
        margin-bottom: 2vw;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }
    
    .title {
        font-size: 8vw;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }
    
    #socials-container {
        margin-top: 3vw;
        gap: 3vw;
    }
    
    
    
    .icon {
        height: 5vw;
    }
    
    
    
    .btn-container {
        gap: 5vw;
    }
    
    .btn {
        font-size: 3vw;
        padding: 2vw;
        width: 25vw;
        border-radius: 2vw;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }
    
    .btn-color {
        border:0.2vw solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.7vw 3vw 0 rgba(0, 0, 0, 0.37);
    }
    
    .btn-color:hover {
        border: rgb(180, 180, 180) 0.2vw solid;
    }
    


    .about-containers {
        gap: 4vw;
        margin-bottom: 4vw;
        margin-top: 9vw;
    }
    
    .about-categories {
        font-size: 4vw;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }
    
    .arrow {
        right: -8.5vw;
        bottom: 4vw;
    }
    
    .details-container {
        padding: 3vw;
        font-size: 2.2vw;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }
    
    .text-container {
        padding: 5vw;
        font-size: 2.4vw;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }
    
    
    
    .experience-sub-title {
        font-size: 4vw;
        margin-bottom: 3vw;
        margin-top: 2vw;
    }
    
    .exp-btn-container {
        padding: 1vw;
        height: 13vw;
    }
    
    .exp-btn {
        font-size: 2vw;
        padding: 2vw;
        width: 30vw;
        border-radius: 2vw;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }
    
    .tech-skills {
        padding: 0.5vw;
    }
    
    .related-courses {
        padding: 0.5vw;
    }
    
    
    
    .project-image {
        height: 32vw;
        width: 32vw;
        border:0.2vw solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.7vw 3vw 0 rgba(0, 0, 0, 0.37);
    }
    
    .project-title {
        margin: 2vw;
    }
    
    .project-btn {
        width: 20vw;
    }
    
    

    .contact-margin {
        height: 2vw;
    }
    
    .contact-info-upper-container {
        border-radius: 2vw;
        padding: 1.5vw;
    }
    .contact-info-container {
        gap: 1vw;
        margin: 2vw;
    }

    .contact-info-container p {
        font-size: 3vw;
        padding: 1vw;
    }

    .email-icon {
        height: 6.35vw;
    }
    
    footer {
        margin: 0 0.5vw;
    }
    
    footer p {
        margin-top: 2vw;
        font-size: 1.5vw;
        text-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.5);
    }
    .about-containers {
        flex-wrap: wrap;
    }
    .glass{
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(1.5vw);
        -webkit-backdrop-filter: blur(1.5vw);
        border-radius: 2.5vw;
        border:0.2vw solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 0.7vw 3vw 0 rgba(0, 0, 0, 0.37);
    }
} 