@media screen and (max-width: 1700px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    .text-container {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    .text-container {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1200px) and (min-height: 700px) {
    .tech-skills {
        gap: 12vh;
    }
    .related-courses {
        gap: 9vh;
    }
}

@media screen and (min-width: 1200px) and (min-height: 800px) {
    .e-details-cont {
        height: 60vh;
    }
    .experience-sub-title {
        margin-bottom: 10vh;
    }
    .tech-skills {
        gap: 10vh;
    }
    .related-courses {
        gap: 10vh;
    }
}

@media screen and (min-width: 1500px) {
    .tech-skills {
        gap: 15vh;
    }
    .project-img {
        border-radius: 10%;
        /* CHANGE THESE SIZES WHEN YOU ADD PROJECTS (70% FOR 2 PROJECTS 90% FOR 3 PROJECTS) */
        width: 30%;
        height: 30%;
    }
}

@media screen and (min-width: 1200px) and (max-height: 600px) {
    #desktop-nav {
        height: 5rem;
    }
    #profile {
        height: 22rem;
    }
    #about {
        height: 40rem;
    }
    #experience {
        height: 35rem;
    }
    #projects {
        height: 46rem;
    }
    #contact {
        height: 22rem;
    }
    footer nav {
        height: 3rem;
    }
}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
        height: 34rem;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 2rem auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
    .text-container {
        font-size: 1.1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #contact {
        height: fit-content;
    }
}

@media screen and (max-width: 1000px) and (max-height: 400px) {
    #profile {
        height: 100vh;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: fit-content;
        margin-bottom: 1rem;
    }
    #profile {
        height: fit-content;
        margin-bottom: 5rem;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 1rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 5px;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        font-size: 0.9rem;
    }
}

@media screen and (max-height: 500px) and (max-width: 1200px) {
    #about {
        margin-top: 16rem;
    }
    #profile {
        height: 22rem;
    }
}

@media screen and (min-width: 2000px) {
    #profile {
        height: 300rem;
    }
}

