*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(25, 7, 66);
    background-size: cover;
    padding: 2rem;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

html {
    scroll-behavior: smooth;
}

p {
    color: white;
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

#home {
    height: 0;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 6rem;
}

.nav-links {
    gap: 4rem;
    list-style: none;
    font-size: 1.7rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: grey;
}

.logo {
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display:none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    z-index: +1;
    display: none;
    position: absolute;
    top: 140%;
    right: 0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-color: grey;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    display: block;
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 2rem;
    height: 58rem;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 10rem;
    height: 40rem;
}

.profile-pic-container {
    display: flex;
    height: 420px;
    width: 420px;
    margin: auto 0;
}

.round-pic {
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 50%;
}

.section__text {
    padding: 3.5rem;
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 400;
}

.section__text__p1 {
    color: rgb(180, 180, 180);
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section__text__p2 {
    color: rgb(180, 180, 180);
    text-align: center;
    font-size: 2.75rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 4.1rem;
    text-align: center;
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2.75rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.btn {
    font-weight: 400;
    font-size: 1.25rem;
    transition: all 300ms ease;
    padding: 1rem;
    width: 15rem;
    border-radius: 1rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-color {
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.btn-color:hover {
    border: rgb(180, 180, 180) 0.1rem solid;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6)
}

.btn-containter {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
    margin-top: 10rem;
}

.about-containers {
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
    color:white;
}

.about-categories {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.details-container .icon {
    cursor: default;
}

.section-container {
    gap: 4rem;
    height: 65%;
}

.about-pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.text-container {
    text-align: left;
    padding: 3rem;
    font-size: 1.58rem;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.exp-btn-container {
    padding: 0.5rem;
    height: 7rem;
}

.exp-btn {
    font-weight: 400;
    font-size: 1.1rem;
    transition: all 300ms ease;
    padding: 1rem;
    width: 15rem;
    border-radius: 1.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tech-skills {
    padding: 1rem;
}

.related-courses {
    padding: 1rem;
}

/* PROJECTS SECTION */

#projects {
    position: relative;
}

.project-image {
    display: inline;
    /* CHANGE THESE SIZES WHEN YOU ADD PROJECTS*/
    height: 19rem;
    width: 19rem;
    margin: auto 0;
    border-radius: 10%;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .4);
}

.project-title {
    margin: 1rem;
    color: white;
}

.project-btn {
    width: 10rem;
}

/* CONTACT */

#contact {
    display: flex;
    flex-direction: column;
    height: 41rem;
    margin-top: 1rem;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 1.5rem;
    background: (250, 250, 250);
    margin: 13rem auto;
    padding: 0.5rem;
}
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 3.5rem;
}

/* FOOTER SECTION */

footer {
    height: 9rem;
    margin: 0 1rem;
    margin-top: 7rem;
}

footer p {
    text-align: center;
    color: rgb(100, 100, 100);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
